/* App.css */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400;
  color: #222;
}

/* =======Catalogue======= */
.card {
  text-decoration: none;
}

/* =======HEADER======= */
.header {
  padding: 10px 0;
}

/* =======PRODUCT PAGE======= */

.container-product-page {
  position: relative;
}

.product-image {
  width: 100%;
  height: 100%;
}

.size-container ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  padding-left: 6px;
}

.button {
  margin-bottom: 20px !important;
}

.quantity-picker {
  margin-bottom: 10px !important;
  width: 100px;
}

.recommendations {
  padding: 40px;
}

.recommendations hr {
  width: 50%;
  margin: 40px 0;
}

.content-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.hyperlink {
  color: var(--primary-300) !important;
}

@media (min-width: 1080px) {
  .container-product-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .product-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: auto;
  }

  .content-container {
    width: 30%;
    min-width: 200px;
  }

  .content-container h1 {
    margin-top: 0;
  }

  .product-image {
    width: 45%;
    height: 500px;
    object-fit: cover;
  }

  .recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
  }

  .container-recommendations {
    display: flex !important;
    justify-content: center;
  }
}

body {
  background-color: #fefefe;
}
.tabs-bg {
  background-color: #fefefe;
  border-bottom: "1px solid green";
}

/* ---ITEM-CARD--- */
.item-img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  background-position: center;
}

/* =======CART PAGE======= */

.container-cart-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cart-item {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.content-cart-item p {
  padding-top: 5px;
}

.cart-item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.content-cart-item {
  width: 40%;
}

.cart-item-name,
.total {
  font-weight: bold;
}

.cart-divider {
  margin: 30px auto;
  width: 65%;
}

.cart-container-total {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 30px 0 0 0;
}

.remove-button {
  all: unset;
  background: none;
  color: inherit;
  border: none;
  padding: 10px 0 0 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: underline;
}

.empty-cart {
  text-align: center;
}
