/* App.css */
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400;
  color: #222;
}

/* =======Catalogue======= */
.card {
  text-decoration: none;
}

/* =======HEADER======= */
.header {
  padding: 10px 0;
}

.logo {
  font-weight: bold;
}

/* =======PRODUCT PAGE======= */

.container-product-page {
  position: relative;
}

.product-image {
  width: 100%;
  height: 100%;
}

.size-container ul {
  display: flex;
  list-style-type: none;
  gap: 10px;
  padding-left: 6px;
}

.button {
  margin-bottom: 20px !important;
}

.quantity-picker {
  margin-bottom: 10px !important;
  width: 100px;
}

.recommendations {
  padding: 40px;
}

.recommendations hr {
  width: 50%;
  margin: 40px 0;
}

.content-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.hyperlink {
  color: var(--primary-300) !important;
}

@media (min-width: 1080px) {
  .container-product-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .product-container {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin: auto;
  }

  .content-container {
    width: 30%;
    min-width: 200px;
  }

  .content-container h1 {
    margin-top: 0;
  }

  .product-image {
    width: 45%;
    height: 500px;
    object-fit: cover;
  }

  .recommendations {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px;
  }

  .container-recommendations {
    display: flex !important;
    justify-content: center;
  }
}

body {
  background-color: #fefefe;
}
.tabs-bg {
  background-color: #fefefe;
  border-bottom: "1px solid green";
}

/* ---ITEM-CARD--- */
.item-img {
  width: 100%;
  height: 18rem;
  object-fit: cover;
  background-position: center;
}

<<<<<<< HEAD
/* =======CART PAGE======= */

.container-cart-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.cart-item {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.content-cart-item p {
  padding-top: 5px;
}

.cart-item img {
  width: 200px;
  height: 150px;
  object-fit: cover;
}

.content-cart-item {
  width: 40%;
}

.cart-item-name,
.total {
  font-weight: bold;
}

.cart-divider {
  margin: 30px auto;
  width: 65%;
}

.cart-container-total {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 30px 0 0 0;
}

.remove-button {
  all: unset;
  background: none;
  color: inherit;
  border: none;
  padding: 10px 0 0 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  text-decoration: underline;
}

.empty-cart {
  text-align: center;
}


/* ---HOME-PAGE--- */
.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-container img {
  margin-top: 1rem;
}
.grid-container .img-left {
  align-self: flex-start;
}
.grid-container .img-right {
  align-self: flex-end;
}
.grid-container img {
  height: 400px;
  width: auto;
}
.hero {
  position: relative;
}
.container-hero {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
  position: absolute;
  top: 0;
  left: 50%; 
  transform: translateX(-50%); 
  z-index: 10;
  padding: 2rem 0; 
  max-width: 1200px; 
  width: 100%; 

/* --animation-- */
  transition: transform 0.3s ease-out;
}
.container-hero p, button {
  margin: 2rem auto; 
}
.container-hero h1 {
  font-weight: 700;
  font-size: 4rem;
  font-family: "PT Sans Caption", sans-serif;
}
.container-hero span {
  color: #3D6C00;
}
.home-bg {
  margin-top: 2rem;
}
.content-bg {
  background-color: rgba(255, 255, 255, 0.9); 
  padding: 1rem; 
  border-radius: 16px; 
  text-align: center;
  display: inline-block; 
}
/* ---Ticker--- */
.discount-ticker {
  background-color: #E5F1D5; 
  white-space: nowrap;
  overflow: hidden;
  position: relative;
}
.ticker-text  {
  display: inline-block;
  padding: 1% 1% 1% 100%;
  animation: ticker 15s linear infinite;
  will-change: transform;
}
.discount-ticker .ticker-text a {
  color: #294800; 
  font-weight: normal;
  text-decoration: none; 
}

@keyframes ticker {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

/* --ABOUT-- */
.about-header {
  text-align: center;
}
.about-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  overflow: hidden; 
  padding: 2rem;
}
.about-text {
  max-width: 60%; 
}
.about-text p {
  margin-bottom: 1rem;
  line-height: 1.6; 
}
.about-text span {
  font-weight: bold;
}
.about-img {
  width: 60%; 
  display: flex;
  justify-content: flex-end;
}

/* ---Responsive mobile--- */
@media (max-width: 768px) {
  .grid-container {
    align-items: flex-start;
  }
  .about-card {
    flex-direction: column; 
    padding: 0px;
    margin: 0px;
  }
  .about-text {
    max-width: 100%; 
    padding: 16px;
    line-height: 1; 
  }
  .about-img {
    width: 90%;
    margin-top: 20px;  
  }
  .hero {
    position: relative; 
    z-index: 1;
  } 
  .navbar-dropdown {
    z-index: 1000; 
  }
  .discount-ticker {
    background-color: transparent; 
    padding-top: 1rem;
  }
  .discount-ticker .ticker-text a {
    opacity: 0.7; 
    color: #294800; 
  }
}